<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Products</title>
</head>
<body>
    <h1>Listado de Productos en Tiempo Real</h1>
    <ul id="productList">
        {{#each products}}
            <li>{{this.title}} - {{this.description}}</li>
        {{/each}}
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/socketClient.js"></script>
</body>
</html>
